/** Add any CSS you need to this file. */
body {
  margin:0;
  background-color: #e1f4f3;
}
* { box-sizing: border-box; }

.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

@media (min-width: 100px){
  .c1{
    width: 40%;
  }
  .c2{
    width: 60%;
    height: 7vh;
    overflow: hidden;
  }
  .c3{
    display: flex;
    width: 100%;
    height: 5vh;
    overflow: hidden;
  }
  .c3 a{
    padding: 1vh 3vh;
    font-size: 3vh;
    border-right:0.3vh solid #585858;
  }
  .c4, .c5 {
    width: 100%;
  }
  .c2 ul{
    height: 100%;
  }
  .c2 li{
    height: 100%;
  }
  .c3{
    width: 100%;
  }
  .c4, .c5 {
    width: 100%;
  }
  #category{
    display: none;
    padding: 1vh 3vh;
    font-size: 3vh;
    border-right:0.3vh solid #585858;
  }
  .Description{
    display: none;
  }
  #title{
    display: none;
  }
  li div img{
    display: none;
  }
  .box h1,h2{
    padding-left: 2vh;
  }
  .detailTable{
    padding-left: 2vh;
  }
}

@media (min-width: 300px){
  .container{
    box-shadow: 0 0 1px #303030;  
    margin-left: auto;
    margin-right: auto;   
  }
  li div img{
    display: block;
  }
  .box h1,h2{
    padding-left: 20vh;
  }
  .detailTable{
    padding-left: 20vh;
  }
}

@media (min-width: 600px){
  .Description{
    display: contents;
  }
  #title{
    display: inline-table;
  }
  .c1{
    width: 60%;
  }
  .c2{
    width: 40%;
  }
}
@media (min-width: 1200px){
  .container {
    width: 1200px;   
    margin-left: auto;
    margin-right: auto;   
  }
  .c1, .c2 {
    width: 100%;
  }
  .c1 a{
    display: table-cell;
    vertical-align: middle;  
  }
  .c2 {
    height: 5vh;
  }
  .c3 {
    width: 10%;
    height: auto;
    display: block;
    text-align: center;
  }
  .c4 {
    width: 90%;
  }
  .c5 {
    width: 100%;
  }
  .c3 a{
    display: table;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 0.3vh solid #585858;  
    border-right:none;
    padding: 5pt 10pt;
    font-size: 17px;
  }
  #category{
    display: block;
    font-size: 26px;
    padding: 1pt 3pt;
    margin: 5px;
    border-right: none;
    border-bottom: 0.3vh solid #585858;  
  }
}

.c1 {
  display: flex;
  height: 7vh;
  margin: 0px;
  background-color: #0f4c81;
  border-top: 0.3vh solid #185992;
  border-left: 0.3vh solid #185992;
  border-bottom: 0.3vh solid #0b3052;
  border-right: 0.3vh solid #0b3052;
}
.c1 img {
  float: left;
  margin: 0.3vh;
  margin-left: 3vh;
  height: 5vh;
}
.c1 a {
  font-size: 100%;
  color: white;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 2px 2px 3px #0b3052;
}
.c2 {
  display: flex;
  background-color: #0f4c81;
  margin: 0px;
  border-top: 0.3vh solid #185992;
  border-left: 0.3vh solid #185992;
  border-bottom: 0.3vh solid #0b3052;
  border-right: 0.3vh solid #0b3052;
}

.c2 a {
  padding: 1vh 3vh;
  border-right: 0.3vh solid #375c7e;
  font-size: 2vh;
  text-decoration: none;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 2px 2px 3px #0b3052;
}

.c3 {
  background-color: #706c61;
  min-width: 110px;
  overflow: hidden;
}
.c3 a {
  text-decoration: none;
  color: white;
  font-family: Arial;
  text-shadow: 2px 2px 3px #45505a;
}

.c4 {
  float: left;
  background-color: white;
  overflow: hidden;
}
.clear {
  clear: both;
}

#title {
  font-size: 3vh;
  margin-top: 1vh;
  margin-left: 1vh;
}
#category {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 3px #45505a;
}

.c5 {
  margin: auto;
  height: 100px;
  border-top: 0.3vh solid #47443c;
  background-color: #706c61;
}

.c5 form {
  float: left;
}

#mangaList {
  padding-left: 3vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  text-decoration: none;
  list-style-type: none;
}

.box {
  margin-bottom: 5vh;
  width: 90%;
  height: 20vh;
  background-color: white;
  border-radius: 1vh;
  border: 0.3vh solid #679b9b;
  overflow: hidden;
}

.box h1 {
  font-size: 3vh;
  margin: 0;
  background-color: #aacfcf;
  overflow: hidden;
}

.box h2 {
  font-size: 2.5vh;
  margin: 0;
  background-color: #679b9b;
  overflow: hidden;
}

.detailTable {
  overflow: auto;
}

li div {
  width: 0px;
  height: 0px;
}

li div img {
  position: relative;
  bottom: 8vh;
  height: 20vh;
  width: 15vh;
  margin-left: 1vh;
  margin-right: 1vh;
  background-color: #0f0f0f;
  overflow: hidden;
}

#contactForm {
  margin: 5vh;
  width: 90%;
  background-color: white;
  border-radius: 2vh;
  border: 1px solid #679b9b;
  list-style-type: none;
  overflow: hidden;
}

#contactForm table{
  padding-left: 2vh;
}
#contactForm h1 {
  font-size: 4vh;
  margin: 0;
  padding-left: 2vh;
  background-color: #aacfcf;
  overflow: hidden;
}

#contactForm h2 {
  margin: 0;
  font-size: 3vh;
  padding-left: 2vh;
  background-color: #679b9b;
  overflow: hidden;
}

.rowLeft {
  text-align: left;
  vertical-align: top;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #45505a;
}

.rowRight {
  text-align: left;
  width: 90%;
  vertical-align: top;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  white-space: normal;
}

#subtitle {
  margin-left: 3vh;
  font-size: 7vh;
  text-decoration: underline;
  font-family: 'Times New Roman', Times, serif;
}

.c5 h3 {
  font-size: 2vh;
  margin-top: 0px;
  margin-bottom: 3px;
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 2px 2px 3px #0b3052;
}
.c4 table{
  font-size: 2vh;
  table-layout: fixed;
  width: 90%;
}
.c4 table td{
  padding: 0;
}
.c4 table .rowLeft{
  padding:0;
  width: 15vh;
}
.c4 input{
  height: 90%;
}

.c5 input{
  height: 2vh;
}
